In [5]:
#using actual data for students
#load CSV into data frames
import pandas as pd
df= pd.read_csv('student.csv')
print(df.to_string())

df.insert(0,'College','Broadway')
print(df.to_string())

df.to_csv('student_update.csv', index=False)

   Name  Age
0  Tina   19
1   aaa   39
2   ddd   37
    College  Name  Age
0  Broadway  Tina   19
1  Broadway   aaa   39
2  Broadway   ddd   37

In [4]:
import pandas as pd

# Try with 'latin1' encoding
df = pd.read_csv('student_performance_1000.csv').head()
print(df.info())

print(df.isna().sum)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        5 non-null      object
 1   Name      5 non-null      object
 2   Batch     5 non-null      object
 3   Math      5 non-null      int64
 4   Science   5 non-null      int64
 5   English   5 non-null      int64
 6   History   5 non-null      int64
 7   Computer  5 non-null      int64
dtypes: int64(5), object(3)
memory usage: 452.0+ bytes
None
<bound method DataFrame.sum of       ID   Name  Batch   Math  Science  English  History  Computer
0  False  False  False  False    False    False    False     False
1  False  False  False  False    False    False    False     False
2  False  False  False  False    False    False    False     False
3  False  False  False  False    False    False    False     False
4  False  False  False  False    False    False    False     False>

In [5]:
import pandas as pd

# Try with 'latin1' encoding
df = pd.read_csv('missing_student_performance.csv').head()
print(df.to_string())

        ID           Name Batch  Math  Science  English  History  Computer
0  STD0001  Suresh Gurung     A  46.0     98.0     44.0     75.0      39.0
1  STD0002       Nisha KC     C  98.0     75.0     95.0     99.0      40.0
2  STD0003  Prakash Thapa     B  47.0     75.0     84.0     43.0      64.0
3  STD0004   Kiran Gurung     C  94.0     69.0     79.0     54.0      45.0
4  STD0005  Rojina Gurung     C  35.0     43.0     97.0     71.0      63.0

clean column names

In [7]:
cols=df.columns
print(cols)
new_cols=[]
for i in cols:
    new_col=i.strip().lower()
    print(new_col)
    new_cols.append(new_col)
print(new_cols)

df.columns=[col.strip().lower() for col in df.columns]
print(df.columns)

Index(['id', 'name', 'batch', 'math', 'science', 'english', 'history',
       'computer'],
      dtype='object')
id
name
batch
math
science
english
history
computer
['id', 'name', 'batch', 'math', 'science', 'english', 'history', 'computer']
Index(['id', 'name', 'batch', 'math', 'science', 'english', 'history',
       'computer'],
      dtype='object')

3. fill missing values(global fill)

In [25]:
df.fillna(0)
print(df.isna().sum())

id          0
name        0
batch       0
math        0
science     0
english     0
history     0
computer    0
dtype: int64

4.fill missing values with subjectwise

In [29]:
import math
subject_columns=['math','science','english','history','computer']
# print(df['math'])
for col in subject_columns:
    mean_value=df[col].mean()
    print(mean_value)
    df[col]=df[col].fillna(math.ceil(mean_value))
print(df.isna().sum())
df.to_csv('test_student.csv',index=False)

67.2
84.0
59.6
61.6
73.4
id          0
name        0
batch       0
math        0
science     0
english     0
history     0
computer    0
dtype: int64

5. Add total and average columns

In [34]:
subject_columns=['math','science','english','history','computer']
total=df[subject_columns].sum(axis=1)
print(total)
df['total']=total

average=df[subject_columns].mean(axis=1)
print(average)
df.head()

0    373
1    382
2    283
3    351
4    340
dtype: int64
0    74.6
1    76.4
2    56.6
3    70.2
4    68.0
dtype: float64

,id,name,batch,math,science,english,history,computer,total
0,STD0001,Shyam Thapa,C,78,91,68,54,82,373
1,STD0002,Ramesh Gurung,C,47,100,60,78,97,382
2,STD0003,Kabita Rai,B,58,62,50,50,63,283
3,STD0004,Shyam Poudel,C,92,75,79,63,42,351
4,STD0005,Rita Adhikari,A,61,92,41,63,83,340