Overview of Machine Learning
1. problem defination:  Goals: understand what we are trying to solve
eg: predict student scores based on study
    clalssify emails as spam or not
2. Data collecton
goal: gather relevanta and sufficient data to work
Sources: csv file, excel, APIs,web scraping: extract data from  like(websites) 
tools: pandas, numpy, scipy, sql,
eg: collect 1000 students scores, attendence and bg info.
3. EDA 
Data Wrangling:
goal: fix missing values, remove duplicates, correct data types, 
Tasks:
   - fill missing values
   - removing outliers
   - convert data types
   - dropping irrelevant columns
tools: pandas, numpy
Goals= to understand the data through statistics and visualizations.
- What is data distrubution?
- are there any correlations between features?
- which variables are most important?
- data visualizations using matlotib and seaborn
4. Feature Engineering
goals: Transform row data into useful features.
Eg: - extracting "average score" from subject scores
    - creating binary columns for categorical values
    - scaling/ normalization features

5. spliting the data
Goal: split data into training and testing sets
Common ratio: 80:20 or 70:20
6. model selection
goal: choose an appropriate algorithm ans train it.
examples: linear regression, decision trees, k-nearest neighbors
7. training evluation
goal: measure mode accuracy and performance
    
8. deployment and moitoring
goal: put the model into production

EDA=Exploratory data analysis is a process of examining any data set to summarize its main characteristics, often using visual methods. It helps us understand the sturcture, patterns, anomalies and relationships in the data before applying any modeling or ML.
objectives:
  - understand the distribution of variables
  - detect outliers and anomalies
  - identify patterns
  - spot missing or incorrect data
  - discover relationships between features

1. Understanding datasets

load dataset using pandas

In [9]:
import pandas as pd
df=pd.read_csv('test_student copy.csv')
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5 non-null      object
 1   name      5 non-null      object
 2   batch     5 non-null      object
 3   math      5 non-null      int64
 4   science   5 non-null      int64
 5   english   5 non-null      int64
 6   history   5 non-null      int64
 7   computer  5 non-null      int64
dtypes: int64(5), object(3)
memory usage: 452.0+ bytes

            math     science    english    history   computer
count   5.000000    5.000000   5.000000   5.000000   5.000000
mean   67.200000   84.000000  59.600000  61.600000  73.400000
std    17.767949   15.280707  14.876155  10.784248  21.314314
min    47.000000   62.000000  41.000000  50.000000  42.000000
25%    58.000000   75.000000  50.000000  54.000000  63.000000
50%    61.000000   91.000000  60.000000  63.000000  82.000000
75%    78.000000   92.000000  68.000000  63.000000  83.000000
max    92.000000  100.000000  79.000000  78.000000  97.000000

2. Univariate Anslysis
- analyze one variable at a time
- use histograms, box plot and value counts

In [ ]:
import seaborn as sns
import matplotlib.pylab as plt

3. Bivariate/Multivariate analysis
 - study relationships between two or more analysis
 - use scatter plot, pair plot, correlation matrix

4. detecting outliers
 - use boxplots and z-score methods

5. handle missing values
6. data cleaning
7. feature transformation

Feature engineering is the process of using domain knowledge to slelect, modify or create raw features form raw data that helps to improve performance of ML models.
Types of features:
1. numerical(continuous)
2. categorical: gender, country , product_type
3. Binary: yes/no, 1/0, male/female
4. Ordinal: low, med, high