In [6]:
import pandas as pd

# loading a DataFrame
df = pd.read_csv('Anupama_Wrangled_School_Fee_Dataset.csv')

print("Missing values per column:\n", df.isnull().sum())

Missing values per column:
 Annual Tuition Fee (NPR)        0
Admission Fee (NPR)           253
Monthly Fee (NPR)               0
Infrastructure Score            0
Student-Teacher Ratio           0
Average Academic Score (%)      0
Total Enrolled Students         0
Scholarship % Availability      0
Technology Access Index       253
Fee Increase % (YoY)            0
dtype: int64

In [7]:
# Calculate the mean values (ignoring NaNs)
admission_fee_mean = df['Admission Fee (NPR)'].median()
tech_access_mean = df['Technology Access Index'].mean()

# Fill missing values with the mean
df['Admission Fee (NPR)'] = df['Admission Fee (NPR)'].fillna(admission_fee_mean)
df['Technology Access Index'] = df['Technology Access Index'].fillna(tech_access_mean)

# Check missing values again to confirm
print(df.isnull().sum())

# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_data.csv', index=False)

Annual Tuition Fee (NPR)      0
Admission Fee (NPR)           0
Monthly Fee (NPR)             0
Infrastructure Score          0
Student-Teacher Ratio         0
Average Academic Score (%)    0
Total Enrolled Students       0
Scholarship % Availability    0
Technology Access Index       0
Fee Increase % (YoY)          0
dtype: int64

In [8]:
tech_access_mean = df['Technology Access Index'].mean()
print(tech_access_mean)

59.75531633724153

In [20]:
# 1. Convert 'Monthly Fee (NPR)' to numeric, setting non-numeric values to NaN
df['Monthly Fee (NPR)'] = pd.to_numeric(df['Monthly Fee (NPR)'], errors='coerce')

# 2. Calculate the mean of the column (ignores NaN)
monthly_fee_mean = df['Monthly Fee (NPR)'].mean()

# 3. Fill NaN values with the mean
df['Monthly Fee (NPR)'] = df['Monthly Fee (NPR)'].fillna(monthly_fee_mean)


# 4. Save the updated DataFrame to a new CSV file
df.to_csv('cleaned_data.csv', index=False)

In [10]:
# Step 1: Convert to string and strip spaces
df['Student-Teacher Ratio'] = df['Student-Teacher Ratio'].astype(str).str.strip()

# Step 2: Convert to numeric, replacing invalid entries with NaN
df['Student-Teacher Ratio'] = pd.to_numeric(df['Student-Teacher Ratio'], errors='coerce')

# Step 3: Fill NaNs with the column mean (optional, if needed)
ratio_mean = df['Student-Teacher Ratio'].mean()
df['Student-Teacher Ratio'] = df['Student-Teacher Ratio'].fillna(ratio_mean)

# Step 4: Save cleaned data to a new CSV file
df.to_csv('cleaned_data.csv', index=False)

# Optional: Check for any missing or incorrectly formatted values
print("Remaining NaNs in Student-Teacher Ratio:", df['Student-Teacher Ratio'].isnull().sum())

Remaining NaNs in Student-Teacher Ratio: 0

In [11]:
# Find and display duplicates
duplicates = df[df.duplicated()]
print(duplicates)
print("Total duplicate rows:", len(duplicates))

      Annual Tuition Fee (NPR)  Admission Fee (NPR)  Monthly Fee (NPR)  \
5000                     46267              12507.0        3564.000000
5001                     49093              10539.0        3890.000000
5002                     23221               3797.0        3770.000000
5003                     50553               9955.0        4586.000000
5004                     64424              14021.0        5209.000000
5005                     68053              11590.0        5197.000000
5006                     70591               9955.0        4304.000000
5007                     57508               9157.0        2746.000000
5008                     60450               7464.0        4278.000000
5009                     58146              13442.0        5789.000000
5010                     47616              11707.0        4076.000000
5011                     53469               6571.0        4003.438441
5012                     52408               6996.0        4816.000000
5013                     56417              10129.0        4767.000000
5014                     59051              11019.0        2754.000000
5015                     62932               6767.0        4918.000000
5016                     66597              12563.0        3808.000000
5017                     48172               6402.0        4680.000000
5018                     51269               8164.0        5800.000000
5019                     44665              10845.0        4931.000000
5020                     56691              13924.0        3915.000000
5021                     45581              14500.0        4515.000000
5022                     45337              12817.0        5167.000000
5023                     43813               6702.0        3100.000000
5024                     37406               6826.0        3182.000000
5025                     48608               9849.0        4387.000000
5026                     36864               8806.0        3745.000000
5027                     36811               9246.0        2998.000000
5028                     47845               9955.0        6010.000000
5029                     38515              14422.0        4453.000000

      Infrastructure Score  Student-Teacher Ratio  Average Academic Score (%)  \
5000             93.610754              17.920895                   59.394380
5001             68.800592              29.753288                   73.937426
5002             66.738844              22.403344                   49.400081
5003             61.871771              18.495236                   53.194660
5004             80.273645              21.602562                   72.442625
5005             49.318166              26.794629                   51.879955
5006             48.902090              13.893781                   57.768272
5007             59.080930              21.488235                   91.863491
5008             74.593223              22.079939                   67.490707
5009             64.861030              29.266225                   66.184812
5010             64.103651              23.309990                   61.266176
5011             74.285851              25.622571                   54.315428
5012            100.000000              24.847279                   70.769455
5013             79.589705              27.664509                   78.373120
5014             86.027427              17.330314                   75.911075
5015             85.317810              33.066616                   69.962851
5016             85.700996              35.619840                   58.582129
5017             63.174251              27.393683                   45.079597
5018             58.074945              23.636923                   51.339388
5019             72.181511              21.274037                   52.695654
5020             49.702551              14.333978                   39.017912
5021             63.570945              23.651493                   77.153374
5022             77.565663              28.414633                   66.840552
5023             69.064963              20.843337                   73.690832
5024             72.124142              20.251081                   63.858133
5025             67.211355              27.077856                   75.484399
5026             75.395437              19.741752                   77.139642
5027            100.000000              29.723776                   69.817080
5028             97.198924              23.513326                   62.913544
5029             77.137964              23.851097                   70.501132

      Total Enrolled Students  Scholarship % Availability  \
5000                      526                    2.517435
5001                     1914                   15.403876
5002                      183                   12.562471
5003                      934                    9.326341
5004                      963                   21.194701
5005                     1600                   20.213952
5006                      250                    9.224226
5007                     1752                   10.362263
5008                      938                   21.290944
5009                      650                   14.172760
5010                      877                   19.679181
5011                      723                   23.971254
5012                     1915                   19.695000
5013                     1190                    4.663064
5014                      610                   18.992766
5015                     1340                   15.921081
5016                     1562                   16.369498
5017                     1943                    8.898441
5018                     1049                   20.027736
5019                     1060                   22.372631
5020                     1853                    5.562598
5021                     1045                   15.271705
5022                     1734                    1.705834
5023                     1811                   19.138812
5024                      165                    9.054899
5025                     1976                   28.854020
5026                     1182                   15.790019
5027                      111                   14.418496
5028                     1154                   11.851986
5029                     1993                   19.480613

      Technology Access Index  Fee Increase % (YoY)
5000                84.115493              7.060873
5001                71.076634              2.723916
5002                40.163576              7.664555
5003                59.755316              6.515726
5004                42.587204              3.990237
5005                61.133266              2.950070
5006                59.755316              8.549848
5007                67.041269              7.666409
5008                35.471571              4.919076
5009                63.238294              1.712719
5010                86.904809              3.285966
5011                51.483960             11.339642
5012                52.915689              5.812030
5013                79.857446              4.444602
5014                81.491940              4.149195
5015                56.790207              6.569420
5016                32.581455              6.053528
5017                59.520629              3.336722
5018                92.883219              6.059858
5019                44.703217              6.992089
5020                41.063467              7.394282
5021                91.530864              8.634631
5022                75.804193              7.108983
5023                56.595670              7.148413
5024                45.534970              5.294499
5025                49.415183              5.487191
5026                36.325943              3.078055
5027                49.948268              6.833327
5028                59.755316              4.806185
5029                59.338691              6.339958
Total duplicate rows: 30

In [12]:
import pandas as pd

# Load your CSV file
df = pd.read_csv("Anupama_Wrangled_School_Fee_Dataset.csv")  # replace with your actual file name



# Step 2: Count number of duplicates
print("Number of duplicate rows:", duplicates.shape[0])

# Step 3: Remove duplicates
df = df.drop_duplicates()

# Step 4: Save the cleaned data back to CSV
df.to_csv("cleaned_data.csv", index=False)

Number of duplicate rows: 30

In [13]:
# Find and display duplicates
duplicates = df[df.duplicated()]
print(duplicates)
print("Total duplicate rows:", len(duplicates))

Empty DataFrame
Columns: [Annual Tuition Fee (NPR), Admission Fee (NPR), Monthly Fee (NPR), Infrastructure Score, Student-Teacher Ratio, Average Academic Score (%), Total Enrolled Students, Scholarship % Availability, Technology Access Index, Fee Increase % (YoY)]
Index: []
Total duplicate rows: 0

In [14]:
# Step 1: Calculate IQR
Q1 = df['Annual Tuition Fee (NPR)'].quantile(0.25)
Q3 = df['Annual Tuition Fee (NPR)'].quantile(0.75)
IQR = Q3 - Q1

# Step 2: Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Step 3: Find outliers
outliers = df[(df['Annual Tuition Fee (NPR)'] < lower_bound) | 
              (df['Annual Tuition Fee (NPR)'] > upper_bound)]
print("Outliers detected:", len(outliers))

Outliers detected: 50

In [15]:
# Calculate IQR and boundaries
Q1 = df['Annual Tuition Fee (NPR)'].quantile(0.25)
Q3 = df['Annual Tuition Fee (NPR)'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Cap outliers
df['Annual Tuition Fee (NPR)'] = df['Annual Tuition Fee (NPR)'].clip(lower=lower_bound, upper=upper_bound)

In [16]:
df.to_csv('cleaned_data.csv', index=False)

In [17]:
# Step 1: Calculate IQR
Q1 = df['Annual Tuition Fee (NPR)'].quantile(0.25)
Q3 = df['Annual Tuition Fee (NPR)'].quantile(0.75)
IQR = Q3 - Q1

# Step 2: Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Step 3: Find outliers
outliers = df[(df['Annual Tuition Fee (NPR)'] < lower_bound) | 
              (df['Annual Tuition Fee (NPR)'] > upper_bound)]
print("Outliers detected:", len(outliers))

Outliers detected: 0