In [3]:
import pandas as pd
data={'cars':["BMW","Volvo","AAA"], 'passings': [3,5,6]}
myvar=pd.DataFrame(data)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         5
2    AAA         6

In [5]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
import pandas as pd

print(pd.__version__)

2.2.3

In [6]:
import pandas as pd
data={
"Categories":[399,222,444],
"Quantites":[60,69,23]
}
df=pd.DataFrame(data)
print(df)

   Categories  Quantites
0         399         60
1         222         69
2         444         23

In [11]:
print(df.loc[[2,1]])

   Categories  Quantites
2         444         23
1         222         69

Generate random data for studet marks

In [ ]:
import pandas as pd
import numpy as np
names = ["Aarav", "Bina", "Chetan", "Dipika", "Ekta",
         "Farhan", "Gita", "Hari", "Isha", "Jay",
         "Kiran", "Laxmi", "Manish", "Nikita", "Om",
         "Prakash", "Qasim", "Rita", "Suman", "Tara"]
subjects = ["Mathematics", "Science", "English", "Social Studies", "Computer"]
scores=np.random.randint(35,100,  size=(20,5))
print(scores)

[[75 37 78 35 83]
 [54 62 52 94 65]
 [40 87 72 74 37]
 [59 50 98 44 99]
 [38 71 74 54 63]
 [75 73 47 52 93]
 [64 57 95 80 54]
 [54 81 53 85 42]
 [91 58 58 68 90]
 [93 94 78 52 45]
 [75 56 56 84 46]
 [50 84 47 40 81]
 [97 56 91 97 67]
 [67 61 38 58 40]
 [83 97 89 75 64]
 [69 62 57 53 92]
 [51 37 94 63 64]
 [61 66 98 74 43]
 [44 84 39 84 93]
 [62 80 92 53 69]]

Using pandas to create a dataframe

In [ ]:
df=pd.DataFrame(scores, columns=subjects, index=names)
# df.insert(0,'Name',names)
sc_avg=np.mean(scores,axis=1)
df.insert(5,'Average',sc_avg)
print(df)

         Mathematics  Science  English  Social Studies  Computer  Average
Aarav             75       37       78              35        83     61.6
Bina              54       62       52              94        65     65.4
Chetan            40       87       72              74        37     62.0
Dipika            59       50       98              44        99     70.0
Ekta              38       71       74              54        63     60.0
Farhan            75       73       47              52        93     68.0
Gita              64       57       95              80        54     70.0
Hari              54       81       53              85        42     63.0
Isha              91       58       58              68        90     73.0
Jay               93       94       78              52        45     72.4
Kiran             75       56       56              84        46     63.4
Laxmi             50       84       47              40        81     60.4
Manish            97       56       91              97        67     81.6
Nikita            67       61       38              58        40     52.8
Om                83       97       89              75        64     81.6
Prakash           69       62       57              53        92     66.6
Qasim             51       37       94              63        64     61.8
Rita              61       66       98              74        43     68.4
Suman             44       84       39              84        93     68.8
Tara              62       80       92              53        69     71.2

In [32]:
print(df.tail(7))

         Mathematics  Science  English  Social Studies  Computer  Average
Nikita            67       61       38              58        40     52.8
Om                83       97       89              75        64     81.6
Prakash           69       62       57              53        92     66.6
Qasim             51       37       94              63        64     61.8
Rita              61       66       98              74        43     68.4
Suman             44       84       39              84        93     68.8
Tara              62       80       92              53        69     71.2

In [34]:
# print(df.loc[[0,1]])
print(df.loc["Nikita"])

Mathematics       67.0
Science           61.0
English           38.0
Social Studies    58.0
Computer          40.0
Average           52.8
Name: Nikita, dtype: float64

In [ ]:
print(df[['Mathematics','Science']])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Aarav to Tara
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Mathematics     20 non-null     int32
 1   Science         20 non-null     int32
 2   English         20 non-null     int32
 3   Social Studies  20 non-null     int32
 4   Computer        20 non-null     int32
 5   Average         20 non-null     float64
dtypes: float64(1), int32(5)
memory usage: 1.2+ KB